h1 {
    color:#5e71e7;
}
h2{
    color:#5e71e7;
}
.header{
    display:flex;
    justify-content:space-between;
    background-color:#f197c4;
    flex-wrap: wrap;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    background-color:#f197c4 ;
    flex-wrap: wrap;
}
body{
    background-color:#f197c4;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    justify-content: flex-start;
    background-color: #5e71e7;
    flex-wrap: wrap;
}
p,h2{
    text-align: center;
    flex-wrap: wrap;
}
.menu{
    margin-right:30px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    color: tomato;
    transform: translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
    transform: scale(1.4);
}